*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #0c1014;
}

/* Header */
.main-header .data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #05080a;
    padding: 20px;
}
.data-container {
    max-width: 960px;
    margin: 0 auto;
    padding:20px ;
}
.main-header .data-container p {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 2px;
}

/* Navbar */
.list-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    gap: 20px;
}
.list-nav-item a {
    color: #FFF;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
    transition: all .4s ease-in-out;
}
.list-nav__item a {
    background-color: #cde300;
    color: #0c1014;
    pointer-events: none;
}
.list-nav-item a:hover {
  text-decoration: underline;
}

/* Conteúdo */
.data-container h1 {
    text-align: center;
    color: #FFF;
    font-size: 62px;
    text-transform: uppercase;
    margin: 46px 0;
}

.content {
    display: flex;
    gap: 20px;
}

.content-card {
    flex: 1;
    padding: 30px;
    background-color: #1f262c;
    border-radius: 5px;
    box-shadow: 0 5px 12px -5px #000;
    display: flex;
    flex-direction: column;
}
.content-card h2 {
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.content-card-prince {
    color: #FFF;
    font-size: 34px;
}
.content-card-prince span {
    color: #b5b5b5;
    font-size: 14px;
}
.content-card-list {
    padding-left: 20px;
    margin: 0 0 35px;
    line-height: 1.8;
    color: #b5b5b5;
    flex: 1;
}
.content-card-list-item::marker {
    color: #cbe300;
}

.content-btn {
    text-decoration: none;
    background-color: #cbe300;
    color: #0c1014;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    transition: all .4s ease-in-out;
}
.content-btn:hover {
    outline:2px solid #cbe300;
    background-color: transparent;
    color: #FFF;
}